

.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 15px;
    /* remove bullet points from li */
    list-style: none;    
}

a {
    /* remove underlines from links */
    text-decoration: none;
}

.info {
    display: flex;
    justify-content: space-around;   
    align-items: center;
}

.info-header {
    justify-self: center;
    align-self: center;
}

.card {
    width: 200px;
    height: 200px;
}